.subscribe .title,
.newsletter.title {
  text-transform: uppercase;
}

.subscription-container {
  background-color: #fff;
}

.subs-img-cont {
  position: relative;

  /* border: 4px solid green; */
}

.subs-box {
  padding: 4em 0 4em 1em;

  /* border: 5px solid red; */

  /* background-color: #f4f5f6; */
}

.subs-img-cont img {
  width: 70%;
  height: 100%;
}

.subs-img-1 {
  position: absolute;
  top: 0;
  left: 0;
}

.subs-img-2 {
  position: absolute;
  top: 0;
  left: 60px;
}

.subs-btn {
  background-color: red;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.subs-btn:hover {
  color: #fff;
}

/* TEXT SECTION */

.subs-text-cont {
  /* border: 2px solid blue; */
  padding-left: 1em;
}

/* NEWSLETTER */

.newsletter-text {
  border: 1px solid #aaa;

  /* border-left: none; */
}

.input-email {
  border: 1px solid #aaa;
  width: 100%;
}

.newsletter-text p {
  /* border: 2px solid red; */
}

.newsletter-box {
  /* border: 4px solid green; */
}

.newsletter-box img {
  width: 100%;
}

.subscribe {
  background-color: #f4f5f6;
}

.subscribe,
.newsletter {
  /* border: 2px solid blue; */

  /* background-color: yellow; */
  padding: 0;
}

.subscribe > p,
.newsletter > p {
  /* border: 2px solid green; */
  background-color: #fff;
}

.sign-up {
  /* border: 2px solid green; */
}

.sign-up input {
  /* border: 2px solid blue; */
}

.sign-up button {
  /* border: 2px solid blue; */

  /* margin-top: 0; */
}
